[Desktop Entry]
Version=1.0
Type=Application
Name=Compiz Boxmenu
Comment=
Exec=compiz-boxmenu -p
Icon=/home/shadowkyogre/Pictures/WallPaper/archse.png
Path=
Terminal=false
StartupNotify=false
