[Desktop Entry]
Version=1.0
Type=Application
Name=Rhyoss
Comment=
Exec=nomacs /home/shadowkyogre/Dropbox/sigils/demons/rhyoss_sigil.jpg
Icon=/home/shadowkyogre/Dropbox/sigils/demons/rhyoss_sigil.jpg
Path=
Terminal=false
StartupNotify=false
