[submodule "vim/.vim/pack/upstream/start/goyo.vim"]
	path = vim/.vim/pack/upstream/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "vim/.vim/pack/upstream/start/vim-submode"]
	path = vim/.vim/pack/upstream/start/vim-submode
	url = https://github.com/kana/vim-submode.git
[submodule "vim/.vim/pack/upstream/start/vim-abolish"]
	path = vim/.vim/pack/upstream/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/.vim/pack/upstream/start/progressbar-widget"]
	path = vim/.vim/pack/upstream/start/progressbar-widget
	url = https://github.com/vim-scripts/progressbar-widget.git
[submodule "vim/.vim/pack/upstream/start/vim-lion"]
	path = vim/.vim/pack/upstream/start/vim-lion
	url = https://github.com/tommcdo/vim-lion.git
[submodule "vim/.vim/pack/upstream/start/vim-eunuch"]
	path = vim/.vim/pack/upstream/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim/.vim/pack/upstream/start/vim-wordy"]
	path = vim/.vim/pack/upstream/start/vim-wordy
	url = https://github.com/reedes/vim-wordy.git
[submodule "vim/.vim/pack/upstream/start/vim-doge"]
	path = vim/.vim/pack/upstream/start/vim-doge
	url = https://github.com/kkoomen/vim-doge.git
[submodule "vim/.vim/pack/upstream/start/vim-renpy"]
	path = vim/.vim/pack/upstream/start/vim-renpy
	url = https://github.com/chaimleib/vim-renpy
[submodule "vim/.vim/pack/upstream/start/vim-clap"]
	path = vim/.vim/pack/upstream/start/vim-clap
	url = https://github.com/liuchengxu/vim-clap
