gtk_color_scheme = "bg_color:#19002E"
gtk_color_scheme = "fg_color:#0064ff"
gtk_color_scheme = "base_color:#001940"
gtk_color_scheme = "text_color:#0064ff"
gtk_color_scheme = "selected_bg_color:#0064ff"
gtk_color_scheme = "selected_fg_color:#000000"
gtk_color_scheme = "tooltip_bg_color:#001940"
gtk_color_scheme = "tooltip_fg_color:#0064ff"
gtk_color_scheme = "link_color:#FF007D"
gtk_color_scheme = "menu_bg_color:#19002E"
gtk_color_scheme = "menu_fg_color:#0064ff"
